allow qti_init_shell ctl_default_prop:property_service set;
allow qti_init_shell kmsg_device:chr_file { open write };
allow qti_init_shell cgroup:dir create;
allow qti_init_shell btnvtool_exec:file { read open execute getattr execute_no_trans};
