allow rild ctl_rildaemon_prop:property_service set;
allow rild proc_net:file write;
#allow rild default_prop:property_service set;
allow rild self:capability { dac_read_search chown };
allow rild unlabeled:dir { read search };
allow rild unlabeled:file { read open write getattr };
